/* layout */
body {
  /* padding: 0 10px; */
  width: 100vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
  color: var(--white);
}
:root {
  --header__height: 32px;
}
.container {
    display: block;
    width: 100%;
    padding: 6px 10px;
}
.container__section {
    padding: 8px 20px;
}

.trailer {
    display: flex;
    width: 100%;
}
.trailer__slider {
    width: 838px;
    height: 540px;
    position: relative;
    /* background-color: var(--black); */
}
.trailer__up-next {
    width: calc(100% - 838px);
}
.container__section--children h4.title {
    font-weight: 400;
    color:var(--white-second);
}
/* title của section children */
.section--children__title {
    font-size: 24px;
    cursor: pointer;

}
.section--children__title .title {
    text-transform: capitalize;
    padding-left: 8px;
}
.section--children__title .hr {
    border: 2px solid var(--color-main);
    border-radius: 2px;
}
.section--children__title:hover .icon {
    color: var(--color-main);   
}


.top-picks .watch-now {
    display: none;
  }

.top10 .infor-more, .top10 .watch-list {
    display: none;
}
.top10  .watch-now {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .7rem;
  }
.top-box__list {
   
}