/* reset css  */
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
:root {
  --color-main: #f5c518;
  --white: #fff;
  --white-second: #adb3b3;
  --black: #000000;
  --black-second: #1a1a1a;
  --black-third: #2f2f2f;
  --color-hover: #3b3b3b;
  --blue: #5799ef;
}
/* button,
a {
  background-color: currentColor;
  color: currentColor;
} */
a {
  text-decoration: none;
}
/* css dùng chung, dễ tái sử dụng */
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-main {
    color:var(--color-main);
}
.color-white {
  color: var(--white);
}
.color-blue {
  color:var(--blue);
}
.title-main {
  margin-top: 8px;
  margin-bottom: 8px;
  color:var(--color-main);
}
.title-white {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--white);
}
.title-white:hover {
  color:var(--color-main);
}
.hover:hover {
    color:var(--color-hover);
}
.bg-hover:hover {
  background-color:var(--color-hover);

}
.section__title {
  font-size: 36px;
  color:var(--color-main);
}
.section__title::first-letter {
  text-transform:capitalize;
}
/* button */
.btn {
  letter-spacing: .6px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
    
}
.btn__txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  padding: 8px 16px;

  border-radius: 4px;
}
.btn__txt span {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}
.btn__txt:hover, .btn__icon:hover {
  background-color: var(--color-hover);
}
.btn__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 12px;
  font-size: 1.2rem;
  border-radius: 50%;
}
.btn--outlined {
  color: var(--white);
  font-size: .9rem;
  font-weight: 600;
  border: 2px solid var(--white);
 width: 286px;
}

.fa-sort-down {
  padding-bottom: 6px;
}
